body {
    background: #ffffff;
    margin: 0;
    padding: 0;
    font-family: helvetica, arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    min-width: 1024px;
}

a:link, a:visited {
    color: #0000ff;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

/* Header */
#header {
    background: #2E0854;
    line-height: 80px;
    overflow: hidden;
}

#header h1 {
    margin: 0 0 0 2%;
    float: left;
    width: 23%;
    color: #eeeeee;
    font-size: 32px;
}

#header h2 {
    margin: 0;
    float: left;
    width: 50%;
    color: #eeeeee;
    font-size: 30px;
    text-align: center;
}

#header #pageLinks {
    margin: 0 2% 0 0;
    float: right;
    width: 23%;
    text-align: right;
}

#header #pageLinks a {
    margin-left: 1em;
}

#header a:link, #header a:visited {
    color: #dddddd;
    text-decoration: none;
}

#header a:hover, #header a:active {
    color: #ffffff;
    text-decoration: underline;
}

#header h1 a:link, h1 a:visited, h1 a:hover, h1 a:active {
    text-decoration: none;
}

/* Main */
#main {
    overflow: hidden;
}

#unitLinks {
    margin: 2% 0 0 2%;
    float: left;
    width: 18%;
}

#unitLinks div {
    margin-bottom: 3px;
    text-align: center;
    background: lightblue;
}

#content {
    margin: 2% 0 0 0;    
    float: left;
    width: 60%;
    text-align: center;
}

#sidebar {
    margin: 2% 2% 0 0;    
    float: right;
    width: 18%;
    text-align: center;
    background: orange;
}
