body {
    background: #2e0854;
    margin: 0;
    padding: 0;
    font-family: helvetica, arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    min-width: 1024px;
}

a:link, a:visited {
    color: #0000ff;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

/* Header */
#header {
    padding: 0 2%;
    line-height: 80px;
    overflow: hidden;
}

#header h1 {
    margin: 0;
    float: left;
    width: 27%;
    color: #eeeeee;
    font-size: 32px;
}

#header h2 {
    margin: 0;
    float: left;
    width: 46%;
    color: #eeeeee;
    font-size: 30px;
    text-align: center;
}

#header #navigation {
    float: right;
    width: 27%;
    text-align: right;
}

#header #navigation a {
    margin-left: 1em;
}

#header a:link, #header a:visited {
    color: #dddddd;
    text-decoration: none;
}

#header a:hover, #header a:active {
    color: #ffffff;
    text-decoration: underline;
}

#header h1 a:link, h1 a:visited, h1 a:hover, h1 a:active {
    text-decoration: none;
}

/* Main */
#mainWrapper {
    background: #ffffff;
    padding: 2%;
}

#main {
    overflow: hidden;
}

#content {
    float: left;
    width: 80%;
}

#sidebar {
    float: right;
    width: 20%;
    text-align: center;
}

/* Footer */
#footer {
    border-top: 2px double #0c0632;
    color: #eeeeee;
    text-align: center;
    padding: 2%;
}

#footer #navigation a {
    margin-left: 2em;
}

#footer #copyright {
    margin-top: 2%;
    width: 50%;
    display: inline-block;
}

#footer a:link, #footer a:visited {
    color: #dddddd;
    text-decoration: none;
}

#footer a:hover, #footer a:active {
    color: #ffffff;
    text-decoration: underline;
}

#copyright a:link, #copyright a:visited {
    color: #add8e6;
    text-decoration: none;
}

#copyright a:hover, #copyright a:active {
    color: #cffbf8;
    text-decoration: underline;
}

/* Facebook */
.fb-like-box span, .fb-like-box iframe {
    /* The following properties need to be set in order for Facebook
       like box to have non-zero dimensions when QuickQWERTY is accessed
       from local storage, i.e. non-HTTP access. */
    width: 239px !important;
    height: 241px !important;
}
