#content {
    width: 62%;
    text-align: left;
}

#sidebar {
    width: 30%;
    text-align: right;
}

/* Facebook */
.fb-like-box span, .fb-like-box iframe {
    /* The following properties need to be set in order for Facebook
       like box to have non-zero dimensions when QuickQWERTY is accessed
       from local storage, i.e. non-HTTP access. */
    width: 292px !important;
    height: 241px !important;
}

h2 .downloadButton {
    margin-bottom: 0.5em;
}

.downloadButton {
    padding: 0.75em;
    border-width: 2px;
    border-style: outset;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    display: inline-block;
}

a.downloadButton:link, 
a.downloadButton:visited {
    color: #ffffff;
    background: #008000;
    border-color: #008000;
    text-decoration: none;
}

a.downloadButton:hover,
a.downloadButton:active {
    color: lightcyan;
    background: #009000;
    border-color: #009000;
    text-decoration: none;
}

.downloadSymbol {
    margin-right: 0.5em;
}

.multipleDownloadButtons {
    display: inline-block;
}

.multipleDownloadButtons a.downloadButton {
    display: block;
    margin-bottom: 1em;
}

.multipleDownloadButtons a.downloadButton:last-child {
    margin-bottom: 0;
}
