#unitLinks div {
    margin-bottom: 3px;
    text-align: center;
}

#subunitLinks {
    text-align: justify;
    height: 24px;
}

#subunitLinks div.stretch {
    width: 100%;
    border: 0;
}

#subunitLinks div {
    display: inline-block;
    text-align: center;
}

#alternateUnitLinks div {
    margin-right: 1em;
    width: 20%;
    text-align: center;
    display: inline-block;
}

#unitLinks div, #subunitLinks div, #alternateUnitLinks div {
    background: #dddddd;
    border: 1px solid #aaaaaa;
    border-radius: 2px;
}

#unitLinks div.selected,
#subunitLinks div.selected,
#alternateUnitLinks div.selected {
    background: #e0ffff;
    border: 1px solid #108080;
}

#practicePanel {
    display: none;
    margin-top: 5%;
}

#previousLink, #nextLink {
    width: 0.5em;
    display: inline-block;
    vertical-align: top;
    font-family: verdana;
}

#practicePane {
    display: inline-block;
}

#target {
    margin-top: 3%;
    font-family: monospace;
    display: inline-block;
    padding: 5px;
    font-size: 40px;
    line-height: 48px;
}

#target, span.targetChar {
    border: 3px solid #333333;
    border-radius: 2px;
}

#feedbackPane {
    margin: 3% 0;
    overflow: hidden;
}

#statusPane {
    display: inline-block;
    width: 30%;
    text-align: left;
    vertical-align: top;
}

#progressPane {
    display: inline-block;
    width: 30%;
}

#resultPane {
    display: inline-block;
    width: 30%;
    text-align: right;
    vertical-align: top;
}

#status {
    color: #008000;
    font-weight: bold;
}

#restartLink {
    visibility: hidden;
}

#input {
    width: 95%;
}

#progressBar {
    width: 100%;
}

#tipsPane {
    margin-top: 3%;
}

#tips {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: justify;
}

/* State changes */
.error #target {
    background: #ff8888;
}

.completed #target, .completed #input {
    background: #dddddd;
}

.completed span.targetChar {
    border: 3px solid #dddddd;
}

.error #status {
    color: #ff0000;
}

#smiley {
    font-family: verdana;
}

#alternateUnitLinks {
    width: 95%;
    margin-top: 1%;
    display: inline-block;
}

