#unitLinks {
    margin: 2% 0 0 2%;
    float: left;
    width: 18%;
}

#unitLinks div {
    margin-bottom: 3px;
    text-align: center;
    background: #dddddd;
    border: 1px solid #aaaaaa;
    line-height: 21px;
}

#unitLinks div.selected {
    background: lightcyan; 
    border: 1px solid blue;
}

#practicePanel {
    display: inline-block;
    margin-top: 5%;
}

#previousLink, #nextLink {
    width: 0.5em;
    display: inline-block;
    vertical-align: top;
    font-family: verdana;
}

#practicePane {
    display: inline-block;
}

#subunitLinks {
    text-align: justify;
    height: 24px;
}

#subunitLinks div {
    display: inline-block;
    background: #dddddd;
    border: 1px solid #aaaaaa;
    text-align: center;
}

#subunitLinks div.stretch {
    width: 100%;
    border: 0;
}

#subunitLinks div.selected {
    background: lightcyan;
    border: 1px solid blue;
}

#target {
    margin-top: 3%;
    font-family: monospace;
    display: inline-block;
    padding: 5px;
    font-size: 40px;
    line-height: 48px;
}

#target, span.targetChar {
    border: 3px solid #333333;
}

#feedbackPane {
    margin: 3% 0;
    overflow: hidden;
}

#statusPane {
    display: inline-block;
    width: 30%;
    text-align: left;
    vertical-align: top;
}

#progressPane {
    display: inline-block;
    width: 30%;
}

#resultPane {
    display: inline-block;
    width: 30%;
    text-align: right;
    vertical-align: top;
}

#status {
    color: #008000;
    font-weight: bold;
}

#restartLink {
    visibility: hidden;
}

#input {
    width: 95%;
}

#progressBar {
    width: 100%;
}

#tips {
    margin: 0 auto;
    width: 50%;
    text-align: justify;
}

/* State changes */
.error #target, .error #input {
    background: #ff8888;
}

.completed #target, .completed #input {
    background: #dddddd;
}

.completed span.targetChar {
    border: 3px solid #dddddd;
}

.error #status {
    color: #ff0000;
}

#smiley {
    font-family: verdana;
}
